@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Quicksand:wght@600&family=Work+Sans&display=swap');
*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Exo 2', sans-serif;
}
body
{
    min-height: 100vh;
    background:#103455;
}

header {
    font-size: 1.5rem;
    color: aliceblue;
}

header, 
.form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form input, 
.form a {
    padding: 0.5rem;
    padding-left: 1rem;
    font-size: 1.8rem;
    border: none;
    background: white;
    border-radius: 2rem;
}

.form a {
    color: rgb(182, 127, 255);
    background: white;
    cursor: pointer;
    transition: all 0.3 ease;
    margin-left: 0.5rem;
    padding-top: 0.3rem;
    padding-left: 8px;
    padding-right: 8px;
}

.form a:hover {
    color: white;
    background: rgb(182, 127, 255);
}

.completed{
    text-decoration: line-through;
}

.todo-container{
    font-size: 22px;
    display: flex;
    /* text-align: center; */
    margin-left: 38.5%;
    /* justify-content: center; */
}
.complete-btn
{
    width: 110px;
    height: 30px;
    border-radius: 20px;
}
.complete-btn:hover{
    color: white;
    background-color: black;
}
.trash-btn
{
    width: 110px;
    height: 30px;
    border-radius: 20px;
}
.trash-btn:hover{
    color: white;
    background-color: black;
}
.todo-item{
    color: aliceblue;
}

@media screen and (max-width: 420px){
    .form input{
        width: 300px;
    }
    
}
@media screen and (max-width: 350px){
    .form input{
        width: 200px;
    }
}
@media screen and (max-width: 1200px){
    .todo-container{
        margin-left: 28.5%;
    }
}
@media screen and (max-width: 600px){
    .todo-container{
        margin-left: 22.5%;
    }
}

@media screen and (max-width: 400px){
    .todo-container{
        margin-left: 15.5%;
    }
}
